
     <!-- Hero Section -->
  <section class="hero" style="margin-top: 140px; height: 600px;">
    <div class="hero-content">
    <!-- <h2>Welcome to  <span>Padmashree Manibhai Desai College</span></h2> -->
    
    </div>
  </section>


  <!-- Features -->
  <section class="features">
    <h2>OUR DEPARTMENT'S </h2>
    <div class="feature-grid">
    <!-- event box -->
<!-- <div class="events-box">
  <h4>📅 Upcoming Events</h4>
  <div class="events-list" #scrollContainer>
    <a *ngFor="let e of events" href="#">{{ e }}</a>
  </div>
</div> -->

<div class="events-box">
  <h4>📅 Upcoming Events</h4>
  <div class="events-list" #scrollContainer>
    <a *ngFor="let e of eventsData" [href]="e.url" target="_blank">{{ e.title }}</a>
  </div>
</div>
  <!-- event box end -->
      <a href="#" class="depa2" style="margin-left: 20px;">
        <div class="feature-card">
        <h3>🎓 Senior College</h3>
        <p>Details for the acadmic year 2022-23</p>
        <p class="viewcourses">View Courses ></p>
      </div>
      </a>
      <a href="#" class="depa3">
        <div class="feature-card">
        <h3>🧑‍🎓 Post Graduate</h3>
        <p>Seat Allottment List of Modern Collage.</p>
        <p class="viewcourses">View Courses ></p>
      </div>
      </a>
      <a href="doc/Prospact 25.pdf" class="depa4">
        <div class="feature-card">
        <h3>📘 Prospectus & Brochures </h3>
        <p>View Collage Prospectus.</p>
        <p class="viewcourses" style="color: #3300ff;">View Courses ></p>
      </div>
      </a>
    </div>
  </section>
<br>  


<!-- vip card -->
<div class="vip-card">
  <!-- Left: VIP Image -->
  <div class="vip-img">
    <img src="assets/vip.png" alt="VIP Guest">
  </div>
  <!-- Right: Description -->
  <div class="vip-info">
    <h2>Special Guest:  Hon. Shri Sharadchandraji Govindrao Pawar</h2>
    <h3>(Former Union Minister of Agriculture, Government of India)</h3>
    <h3>President, Mahatma Gandhi Sarvodaya Sangh</h3>
    <p><strong>Our Motto:</strong> "From darkness to light."</p>
    <p><strong>Our Mission:</strong> To provide quality and skill-based education to make the rural community self-reliant and capable.</p>
    <p><strong>Our Vision:</strong> To follow Gandhiji's principle of holistic development based on truth and humanity.</p>
  </div>
</div>













<hr style="border: 2px solid #ccc; margin-top: 100px; margin-bottom: -50px; margin-left: 190px; margin-right: 190px;">
  <!-- Gallery -->
    <h2 class="h2">📸 College  <span style="color: rgb(72, 170, 235);">Gallery</span></h2>
  <section class="gallery" style="margin-top: -110px;">
<br><br><br><br><br><br><br><br><br><br>
  <div class="gallery-item">
    <img src="assets/cantin.png" alt="Students in classroom">
    <div class="overlay">Canteen</div>
  </div>

  <div class="gallery-item">
    <img src="assets/chemicallab.png" alt="Friends at campus">
    <div class="overlay">Chemistry Lab</div>
  </div>

  <div class="gallery-item">
    <img src="assets/comlab.png" alt="Graduation ceremony">
    <div class="overlay">Computer Lab</div>
  </div>

  <div class="gallery-item">
    <img src="assets/gym.png" alt="Library study time">
    <div class="overlay">Collage Gym</div>
  </div>

  <div class="gallery-item">
    <img src="assets/lab.png" alt="Cultural festival">
    <div class="overlay">Microbiology</div>
  </div><br><br>

  <div class="gallery-item">
    <img src="assets/playground.png" alt="Sports day">
    <div class="overlay">Playground</div>
  </div>

  <div class="gallery-item">
    <img src="assets/studylab.png" alt="College canteen">
    <div class="overlay">Study Lab</div>
  </div>

 
</section>

<app-footer></app-footer>