
   <!-- body section -->
   <section class="about-container">

<div class="bodyhed">
    <h2>महात्मा गांधी सर्वोदय संघ, उरळी कांचन</h2>
    <p>(स्थापना: १८/११/१९५२)</p>
    <p>संस्थापक: पद्मश्री डॉ. मणिभाई देसाई</p>
</div>



  
    <div class="container">
        <div class="data-section info-box branch-box">
            <h2 class="section-title branch-title">शाखा विस्तार</h2>
            <h3 class="campus-name">पद्मविभूषण शरदचंद्रजी पवार शैक्षणिक संकुल, उरुळी कांचन</h3>
            
            <table>
                <thead>
                    <tr>
                        <th>अ.क्र.</th>
                        <th>संस्थेचे नाव</th>
                        <th>स्थापना</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>१)</td>
                        <td>महात्मा गांधी विद्यालय, उरुळी कांचन</td>
                        <td>१९६२</td>
                    </tr>
                    <tr>
                        <td>२)</td>
                        <td>कुमार छात्रालय (वसतिगृह), उरुळी कांचन</td>
                        <td>१९६६</td>
                    </tr>
                    <tr>
                        <td>३)</td>
                        <td>महात्मा गांधी ज्युनिअर कॉलेज, उरुळी कांचन</td>
                        <td>१९७६</td>
                    </tr>
                    <tr>
                        <td>४)</td>
                        <td>कौशल्य आधारित व्यावसायिक अभ्यासक्रम, उरुळी कांचन</td>
                        <td>१९९०</td>
                    </tr>
                    <tr>
                        <td>५)</td>
                        <td>बी.जी.शिरके पूर्व-प्राथमिक व महात्मा गांधी प्राथमिक विद्यालय, उरुळी कांचन</td>
                        <td>२०००</td>
                    </tr>
                    <tr>
                        <td>६)</td>
                        <td>पद्मश्री मणिभाई देसाई महाविद्यालय, उरुळी कांचन</td>
                        <td>२००२</td>
                    </tr>
                    <tr>
                        <td>७)</td>
                        <td>डॉ. सायरस पूनावाला इंग्लिश मीडियम स्कूल, उरुळी कांचन (सीबीएसई)</td>
                        <td>२०१०</td>
                    </tr>
                </tbody>
            </table>
        </div>
        

    </div><br><br>

  
      <!-- Gallery -->
   <div class="about-box">
    <section class="gallery">

  <div class="gallery-item">
<a href="https://maps.app.goo.gl/MkSLNNLobaNkFfm68"><img src="assets/mahatmagandhividyalay.png" alt="Students in classroom" title="click for see location"></a> 
 </div>

  <div class="gallery-item">
<a href="https://maps.app.goo.gl/fXxbBx6asipTa8dAA"><img src="assets\manibhaidesaividyalay.png" alt="Friends at campus" title="click for see location"></a>
  </div>

  <div class="gallery-item">
<a href="https://maps.app.goo.gl/sJQXJM4Awqdcj19L8"><img src="assets\englishmedium.png" alt="Graduation ceremony" title="click for see location">
</a>
  </div>

  <div class="gallery-item">
<a href="https://maps.app.goo.gl/WvkoWFFJxq1m34gZ7"><img src="assets\mahatmagandhividyalay2.png" alt="Library study time" title="click for see location"  ></a>
  </div>
</section>
  </div>

  

   

</section>

<app-footer></app-footer>